*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 30px;
    background-color: #001429;
}
body{
    margin: auto;
    background-color: #24B5B8;
}
#body{
    background-color: #001429;
    margin: 0px 30px 30px 30px;
}
#mdiv{
    color: white;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Bitter', serif;
}
#div1{
    color: white;
    width: 635px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    font-family: 'Josefin Sans', sans-serif;

}
#div2{
    color: white;
    width: 635px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    font-family: 'Josefin Sans', sans-serif;

}
h1{
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Bitter', serif;
    margin-bottom: 10px;
}
label{
    color: white;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
}
form{
    margin: auto;
    text-align: center;
}
input{
    width: 300px;
    margin-bottom: 10px;
    display: inline-block;
}
#btn{
    background-color: darkgoldenrod;
    height: 50px;
    width: 100px;
    border-radius: 10px;
}